@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@700&family=Ubuntu:wght@400;500&display=swap');

body {
  height: 1000vh;
}

.navbar {
  transition: all 0.5s;
  height: 3rem;
}
.navbar-scroll {
  background-color: #212529;
  box-shadow: 0, 3px, 10px rgba(0, 0, 0, 0.199);
}

.head-cont {
  height: 100vh;
  width: 100%;
  background-position: center;
  object-fit: cover;
  background-image: url('../images/hero-bg-img.jpg');
  background-attachment: fixed;
  
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  filter: brightness(0.6);
}
.bg-change {
  background-color: #BDBBB0;
  height: 100vh;
}
.about-me-title {
  text-align: center;
  padding-top: 3rem;
}
.about-me-img {
  height: 400px;
  object-fit: cover;
  margin-right: 5rem;
}